/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./styles/global.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
.app-sidebar {
	background-color: #363636 !important;			
}
.app-sidebar .app-sidebar-logo {
    border-bottom: none !important;
}
.card-content{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
    height: 75vh !important;
}
